[submodule "deps/happly"]
	path = deps/happly
	url = https://github.com/nmwsharp/happly.git
[submodule "deps/geometry-central"]
	path = deps/geometry-central
	url = https://github.com/tx781854760/geometry-central.git
